<?xml version="1.0"?>
<config>
    <fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
        
		<field 
				name="to_email"
				type="text"
				label="COM_CONTACTFORM24_TO_EMAIL"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
		<field 
				name="from_email"
				type="text"
				label="COM_CONTACTFORM24_FROM_EMAIL"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
		<field 
				name="subject"
				type="text"
				label="COM_CONTACTFORM24_SUBJECT"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
		<field 
				name="to_email2"
				type="text"
				label="COM_CONTACTFORM24_TO_EMAIL2"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
		<field 
				name="from_email2"
				type="text"
				label="COM_CONTACTFORM24_FROM_EMAIL2"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
		<field 
				name="subject2"
				type="text"
				label="COM_CONTACTFORM24_SUBJECT2"
				required="false"
				default=""
				size="10"
				class=""
				readonly="false"
				disabled="false"
				filter="">
		</field>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_contactform24"
                section="component"/>
    </fieldset>
</config>